.container-input {
  display: flex;
}
.input{
  height: 30px;
  outline: none;
  border: 1px solid black; 
}
.form-btn{
  display: inline-block;
  height: 33px;
  width: 80px;
  outline: none;
  border: none; 
  background-color: black;
  color: #fff;
  font-weight: 600;
}
