@import './form-todo.scss';
@import './todos.scss';

p{
  padding: 0;
  margin: 0;
}
.input-update{
  margin-right: 10px;
}
.container {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents{
  margin-top: 50px;
}
